@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
    --main-font-color: #333;
    --main-bg-color: #FBFFD0;
    --main-theme-color: rgb(243, 168, 47);
    --strong-yellow: #F7FF94;
    --light-white: #f5f5f5;
    --light-gray: rgb(190, 190, 190);
    --light-black: #282a39;
    --containers-background: #444441;
    --main-font-stack: Poppins, Montserrat;
    --font-body-stack: Raleway, Charcoal, sans-serif;
    --font-heading-stack: "PT Serif", sans-serif;
    --container-width: 768px;
}
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100vw; 
}
body {
    background-color: var(--main-bg-color);
}

/* +++++++++++++++ CUSTOMIZE SCREEN +++++++++++++++ */
.quiz__customize-container {
    color: var(--main-font-color);
    width: 85vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-stack);
}

.quiz__title {
    font-size: 38;
    font-weight: 600;
    margin-bottom: 25px;
}
.quiz__customization {
    background-color: var(--containers-background);
    width: 90%;
    border-radius: 8px;
    position: relative;
    color: #fafafa; 
}
.quiz__customize-modal {
    position: absolute; 
    left: 0; 
    right: 0;
    margin: 0 auto;
    width: 98px;
    top: -24px;
    background-color: var(--strong-yellow);
    color: var(--main-font-color);
    border-radius: 8px;
    border: 1px solid #000;
    padding: 6px 4px; 
}
.quiz__form {
    padding: 40px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__input label {
    font-size: 15px; 
}
.number-input,
.category-select,
.difficulty-select {
    width: 100%;
    padding: 8px 6px;
    border-radius: 6px;
    border: none; 
    color: #4d4d4d;
    margin-bottom: 15px; 
}
.difficulty-select {
    margin-bottom: 30px; 
}
.questions-number__container {
    position: relative;
}
.submit-error {
    display: none;
}
.submit-error.show {
    display: inline-block;
    position: absolute;
    bottom: -8px;
    right: 0; 
    font-size: 0.8rem;
    color: rgb(255, 73, 73);
}
.quiz__form button {
    padding: 8px 20px;
    border-radius: 6px;
    width: 50%;
    align-self: center;
    border: none; 
    font-weight: 500;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    font-size: 14px;
    font-family: var(--main-font-stack);
}
.quiz__form button:hover {
    cursor: pointer;
}
 


/* +++++++++++++++ MAIN-GAME SCREEN +++++++++++++++ */


.quiz {
    padding: 2rem 1.4rem;
    max-width: var(--container-width);
    margin: 0 auto; 
}

/* ---------- QUIZ HEADER (AREA OF QUESTIONS) ---------- */
.quiz__header {
    text-align: center;    
    font-family: var(--font-heading-stack);
}
.quiz__question {
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 38px; 
    /* padding: 0.8rem 4rem; */
    color: var(--main-font-color);
    margin-bottom: 22px;
}
.quiz__current-question {
    font-family: var(--font-body-stack);
    font-weight: 700;
    margin-bottom: 35px; 
    font-size: 1.2rem; 
}
.quiz__progress-bar {
    height: 8px;
    width: 50%;
    border-radius: 3px; 
    background: rgb(231, 231, 231);
    margin: 0 auto 30px auto; 
}
.quiz__progress-bar__inner {
    background: var(--main-theme-color);
    width: 0%;
    height: 100%;
    border-radius: 3px;
    transition: width 0.3s ease;
}
.quiz__tagline {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--light-gray);
    margin-bottom: 15px; 
}

/* ---------- QUIZ BODY, CHOICES ---------- */
.quiz__choices-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto; 
}
.quiz__choice {
    background-color: var(--light-white);
    min-width: 300px;
    border-radius: 4px;
    display: block;
    margin: 0.5rem auto; 
    font-family: sans-serif;
    color: var(--light-black);
    letter-spacing: 1.2px;
    font-size: 0.86rem;   
}
.quiz__input {
    display: none;
}
.quiz__input:checked ~ .quiz__label {
    color: var(--main-theme-color);
    font-weight: bold;
}
.quiz__input:checked ~ label i {
    background-image: url('../images/circle-filled.svg');
}
.quiz__label {
    display: flex; 
    border: 1px solid var(--main-font-color);
    padding: 2rem 2rem; 
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease,
                color 0.25s ease;
}
.quiz__label:hover {
    background: #ebebeb;
}
.quiz__label i {
    background: url('../images/circle-outline.svg');
    background-size: 25px;
    height: 25px;
    width: 25px;
    margin-right: 10px; 

}

/* ---------- BUTTONS ---------- */
.quiz__footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.button {
    padding: 1rem 3.8rem;
    border: none; 
    text-transform: uppercase;
    transition: 0.3s all ease;
    cursor: pointer;
    outline: 0;
    opacity: 0.9;
    font-weight: bold; 
    text-align: center; 
}
.button:hover {
    opacity: 1; 
    background: var(--light-black);
    color: var(--main-theme-color)
}

.button.button--bordered {
    border: 1px solid var(--light-black);
}
